[package]
authors = ["Malte Sander <malte.sander.it@gmail.com>"]
build = "build.rs"
description = "Stackable Operator for Apache Spark"
edition = "2018"
license = "OSL-3.0"
name = "stackable-spark-operator-binary"
repository = "https://github.com/stackabletech/spark-operator"
version = "0.5.0-nightly"

[dependencies]
stackable-operator = { git = "https://github.com/stackabletech/operator-rs.git", tag = "0.4.0" }
stackable-spark-crd = { path = "../crd" }
stackable-spark-operator = { path = "../operator" }

anyhow = "1.0"
clap = "2.33"
serde_yaml = "0.8"
tokio = { version = "1.14", features = ["macros", "rt-multi-thread"] }
tracing = "0.1"

[build-dependencies]
built = { version =  "0.5", features = ["chrono", "git2"] }
stackable-operator = { git = "https://github.com/stackabletech/operator-rs.git", tag = "0.4.0" }
stackable-spark-crd = { path = "../crd" }

[package.metadata.deb]
name = "stackable-spark-operator"
maintainer-scripts = "../../packaging/debian/"
systemd-units = { enable = false, unit-name = "stackable-spark-operator" }
assets = [
    ["../../target/release/stackable-spark-operator", "opt/stackable/spark-operator/", "755"],
    ["../../deploy/crd/sparkcluster.crd.yaml", "etc/stackable/spark-operator/crd/", "644"],
    ["../../deploy/crd/start.command.crd.yaml", "etc/stackable/spark-operator/crd/", "644"],
    ["../../deploy/crd/restart.command.crd.yaml", "etc/stackable/spark-operator/crd/", "644"],
    ["../../deploy/crd/stop.command.crd.yaml", "etc/stackable/spark-operator/crd/", "644"],
    ["../../deploy/config-spec/properties.yaml", "etc/stackable/spark-operator/config-spec/", "644"],
]

[[bin]]
name = "stackable-spark-operator"
path = "src/stackable-spark-operator.rs"
