---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
metadata:
  name: install-spark
timeout: 300
---
apiVersion: spark.stackable.tech/v1alpha1
kind: SparkCluster
metadata:
  name: spark
spec:
  version: {{ test_scenario['values']['spark'] }}
  config:
    enableMonitoring: true
  masters:
    roleGroups:
      default:
        selector:
          matchLabels:
            kubernetes.io/os: linux
        replicas: 1
  workers:
    roleGroups:
      default:
        selector:
          matchLabels:
            kubernetes.io/os: linux
        replicas: 1
  historyServers:
    roleGroups:
      default:
        selector:
          matchLabels:
            kubernetes.io/os: linux
        replicas: 1
